// В этом файле должны быть стили для БЭМ-блока services, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.services {

  $block-name:                &; // #{$block-name}__element

  &__header {
    padding: 10px;
    background: #fff;
  }

  &__header-descr {
    font-size: $font-size;
    line-height: 1.571;
    color: $gray-light;

    p {
      margin: 0;
    }
  }
}
